[submodule "com.unity.webrtc"]
	path = com.unity.webrtc
	url = https://github.com/because-why-not/com.unity.webrtc_visionpro
[submodule "src"]
	path = src
	url = https://github.com/because-why-not/webrtc_visionpro.git
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "uwrtc_testproj"]
	path = uwrtc_testproj
	url = https://github.com/because-why-not/uwebrtc_visionpro_testproj
